
@media only screen and (max-width: 1080px) {
    .services {
        flex-wrap: wrap;
        justify-content: center;
    }

    .card {
        width: 50%;
        min-width: 250px;
        max-width: 300px;
        margin-bottom: 30px;
    }
}

@media only screen and (max-width: 980px) {
    .nav {
        padding-left: 5px;
        padding-right: 5px;
    }
}
@media only screen and (max-width: 900px) {
    #presentation {
        margin-right: 0;
    }

    .carousel {
        margin-left: 0 !important;
    }

    .vertical-menu {
        width: 100%;
        padding: 0 0 0 25px;
        height: max-content !important;
        margin: 0;
    }

    .vertical-menu div {
        width: 200px;
    }

    .vertical-menu div h3 {
        margin: 0 !important;
        font-size: 15px;
        text-align: center !important;
    }

    .nav img {
        margin-right: 30px;
    }

    #home {
        flex-wrap: wrap;
        justify-content: center;
    }

    #media {
        margin-right: 0;
        margin-bottom: 40px;
    }

    #work {
        flex-wrap: wrap;
    }

    .vertical-menu {
        height: max-content;
        margin-bottom: 30px;
    }

    .vertical-menu div{
        font-size: 14px;
        padding: 3px 5px;
        margin: 2px 0;
    }

    #contact {
        flex-wrap: wrap;
    }

    .form {
        width: 100%;
    }
}

@media only screen and (max-width: 740px) {
    .nav a {
        margin: 0;
        padding-right: 2px;
        padding-left: 2px;
    }
}

@media only screen and (max-width: 650px) {
    .form {
        margin-right: 0;
    }

    .nav {
        display: none;
    }

    .nav-mobile {
        display: flex;
        flex-wrap: wrap;
        padding-top: 30px;
        padding-left: 25px;
        transition: all 0.2s;
    }

    .nav-mobile nav {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
        transition: all 0.2s;
    }
    
    .nav-mobile a {
        font-size: 30px;
        margin-top: 10px;
        opacity: 0;
        visibility: hidden;
        transition: all 0.2s;
    }
    footer {
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 500px) {
    #contact {
        padding-left: 35px !important;
    }

    #services,
    #home {
        padding-bottom: 30px !important;
    }

    .carousel h4 {
        font-size: 30px;
    }
    
    .form {
        margin-bottom: 30px;
        min-width: 280px;
    }

    input {
        width: 260px;
    }

    textarea {
        width: 300px;
    }

}

@media only screen and (max-width: 480px) {
    #header {
        padding: 0 10%;
    }

    #media {
        width: 300px !important;
        height: 200px !important;
    }

    .card {
        width: 100%;
        min-width: 300px;
        max-width: 350px;
        margin-bottom: 30px;
    }

    .socials-box {
        padding: 0;
    }

    footer {
        flex-wrap: wrap;
    }

    footer .socials-box {
        min-width: 300px;
        padding: 0;
    }
}

@media only screen and (max-width: 375px) {
    .form {
        margin-bottom: 30px;
        max-width: 320px;
    }

    input {
        width: 250px;
    }

    textarea {
        width: 280px;
    }
}